.dots-wrapper{
    display: flex;
    gap: max(2.08vw, 2px);
}
.dot{
    width: max(2.7vw, 10px);
    height: max(2.7vw, 10px);
    background-color: coral;
    opacity: 0.4;
    border-radius: 50%;
    transition: 1s;
}
.dot-active{
    opacity: 1;
}