.dots-wrapper{
    display: flex;
    gap: 10px;
}
.dot{
    width: 20px;
    height: 20px;
    background-color: coral;
    opacity: 0.4;
    border-radius: 50%;
    transition: 1s;
}
.dot-active{
    opacity: 1;
}