:root{
    --slideWidth: 500px;
    --slideHeight: 500px;

}
*{
    margin: 0; padding: 0;
}
.slider-wrapper{
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.slider{
    margin-top: 50px;
    margin-bottom: 50px;
}
.slider-line{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    left: 0;
    transition: all ease-in-out 1s;
}

.slider-wrapper{
    display: flex;
    box-shadow: 7px 5px 25px 7px coral;
    border-radius: 10px;
}
.slider-container{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #ffe4c466;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slider img{
    border-radius: 10px;
    width:34.72vw;
    height: 34.72vw;
}