:root{
    --slideWidth: 500px;
    --slideHeight: 500px;

}
*{
    margin: 0; padding: 0;
}
.slider-wrapper{
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.slider{
    /* width: var(--slideWidth); */
    height: var(--slideHeight);
    margin-top: 50px;
    margin-bottom: 50px;
}
.slider-line{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    /* left: -300px; */
    /* left: calc(var(--slideWidth) / 2 * -1); */
    height: var(--slideHeight);
    /* width: calc(var(--slideWidth)*3 + 40px); */
    transition: all ease-in-out 1s;
}

.slider-wrapper{
    display: flex;
    border-radius: 350px;
    box-shadow: 7px 5px 25px 7px coral;
}
.slider-container{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: bisque;
    padding-top: 20px;
    padding-bottom: 20px;
}
